<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Hotel_Management</display-name>
  <servlet>
  	<servlet-name>reg_User</servlet-name>
  	<servlet-class>Credentials.Register_User</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>reg_User</servlet-name>
  	<url-pattern>/Register_User</url-pattern>
  </servlet-mapping>
</web-app>
</element>